<%- include('./partials/header') %>
<main>
  <h1 class="page-title white-bg"><%= title %></h1>

  <% if (user) { %> 
    <div class="white-bg flex-ctr">
      <img id="home-page-avatar" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
      <form class="white-bg" method="POST" action="/tweets">
          <textarea id="tweet-text" class="white-bg" name="content"></textarea>
    </div>
        <div class="white-bg flex-ctr">
          <input id="tweet-btn" type="submit" value="Tweet">
        </div>
      </form>
      <br>
      <br>

    <section class="white-bg flex-ctr">
      <ul>
        <% tweets.forEach(function(t) { %>
          <% if (t.retweets.find(el => el.rt === true)) { %>
            <% t.retweets.forEach(function(r) { %>
              <li>
                <% if (r.rtUser.toString() === user._id.toString()) { %>
                  <a class="white-bg inline-ctr" href="/retweets/<%= t._id %>">
                    <img alt="Retweet" class="nav-rt-filled-img" src="/images/retweet_filled_icon.png" referrerpolicy="no-referrer">
                  </a>
                <% } else { %>
                  <a class="white-bg inline-ctr" href="/retweets/<%= t._id %>">
                    <img alt="Retweet" class="nav-rt-img" src="/images/retweet_icon.png" referrerpolicy="no-referrer">
                  </a>
                <% } %>
                <div id="rt-text" class="inline-ctr"><%= r.rtUserName %> Retweeted</div>
              </li>
            <% }) %>
          <% } %>

    <section class="white-bg tweet-text-border">
      <% if (!t.retweets.length) { %>
      <a class="white-bg" href="/tweets/<%= t._id %>">
        <% } %>
      <li class="tweet-hdr">
        <img alt="avatar" class="avatar white-bg inline-ctr" src="<%= t.userAvatar %>" referrerpolicy="no-referrer">
        <div class="inline-ctr">
          <div class="tweet-hdr-text">
            <%= t.userName %> •
          </div>
          <div class="tweet-date">
            <%= t.createdAt.toLocaleDateString() %>
          </div>
        </div>
        <% if (user?._id.equals(t.user) && (!t.retweets.length)) { %>
          <div class="edit-delete white-bg inline-ctr">
            <a class="white-bg" href="/tweets/<%= t._id %>/edit">
              <img alt="Edit" class="nav-del-img" src="/images/edit_icon.png" referrerpolicy="no-referrer" >
            </a>
            <form class="white-bg" action="/tweets/<%= t._id %>?_method=DELETE" method="POST">
              <input type="image" class="nav-del-img" alt="Delete" src="/images/delete_icon.png">
            </form>
          </div>
        <% }; %>
      </li>
          <li class="white-bg post-text">
            <%= t.content %>
          </li>
        </a>
    </section>

        <% if (!t.retweets.find(el => el.rt === true)) { %>
          <nav>
            <li class="nav-space">
                <a class="white-bg inline-ctr" href="/tweets/<%= t._id %>">
                  <img alt="Reply" class="nav-reply-img" src="/images/reply_icon.png" referrerpolicy="no-referrer" >
                  <%= t.replies.length %>
                </a>
                <a class="white-bg inline-ctr" href="/retweets/<%= t._id %>">
                  <img alt="Retweet" class="nav-rt-img" src="/images/retweet_icon.png" referrerpolicy="no-referrer" >
                </a>
                <% if (t.likes.find(el => el.userName === user?.name)) { %>
                  <a class="white-bg inline-ctr" href="/likes/<%= t._id %>">
                    <img alt="Like" class="nav-like-filled-img" src="/images/heart_icon_filled.png" referrerpolicy="no-referrer" >
                    <%= t.likes.length %>
                  </a>
                <% } else { %>
                  <a class="white-bg inline-ctr" href="/likes/<%= t._id %>">
                    <img alt="Like" class="nav-like-img" src="/images/heart_icon.png" referrerpolicy="no-referrer" >
                    <%= t.likes.length %>
                  </a>
                <% } %>
                <% if (t.bookmarks.find(el => el.user.toString() === user._id.toString())) { %>
                  <a class="white-bg inline-ctr" href="/bookmarks/<%= t._id %>">
                    <img alt="Bookmarks" class="nav-bm-filled-img" src="/images/bookmark_icon_filled.png" referrerpolicy="no-referrer" >
                  </a>
                <% } else { %>
                  <a class="white-bg inline-ctr" href="/bookmarks/<%= t._id %>">
                    <img alt="Bookmarks" class="nav-bm-img" src="/images/bookmark_icon.png" referrerpolicy="no-referrer" >
                  </a>
                <% } %>
            </li>
          </nav>
        <% } %>
            <br>
            <br>
        <% }); %>
        </ul>
      </section>
  <% } %>
</main>
<%- include('./partials/footer') %>