<%- include('../partials/header') %>
<main>
    <% if (user) { %>
      <h1 class="page-title white-bg">Tweet</h1>

    <section class="white-bg flex-ctr">
      <ul>

        <section class="white-bg tweet-text-border">
          <li class="tweet-hdr">
            <img alt="avatar" class="avatar white-bg inline-ctr" src="<%= tweet.userAvatar %>" referrerpolicy="no-referrer">
            <div class="inline-ctr">
              <div class="tweet-hdr-text">
                <%= tweet.userName %> •
              </div>
              <div class="tweet-date">
                <%= tweet.createdAt.toLocaleDateString() %>
              </div>
            </div>
            <% if (user?._id.equals(tweet.user)) { %>
              <div class="edit-delete white-bg inline-ctr">
                <a class="white-bg" href="/tweets/<%= tweet._id %>/edit">
                  <img alt="Edit" class="nav-del-img" src="/images/edit_icon.png" referrerpolicy="no-referrer" >
                </a>
              </div>
            <% }; %>
          </li>
              <li class="white-bg post-text">
                <%= tweet.content %>
              </li>
        </section>

        <nav>
          <li class="nav-space">
              <a class="white-bg inline-ctr" href="/tweets/<%= tweet._id %>">
                <img alt="Reply" class="nav-reply-img" src="/images/reply_icon.png" referrerpolicy="no-referrer" >
                <%= tweet.replies.length %>
              </a>
              <a class="white-bg inline-ctr" href="/retweets/<%= tweet._id %>">
                <img alt="Retweet" class="nav-rt-img" src="/images/retweet_icon.png" referrerpolicy="no-referrer" >
              </a>
              <% if (tweet.likes.find(el => el.userName === user?.name)) { %>
                <a class="white-bg inline-ctr" href="/likes/<%= tweet._id %>">
                  <img alt="Like" class="nav-like-filled-img" src="/images/heart_icon_filled.png" referrerpolicy="no-referrer" >
                  <%= tweet.likes.length %>
                </a>
              <% } else { %>
                <a class="white-bg inline-ctr" href="/likes/<%= tweet._id %>">
                  <img alt="Like" class="nav-like-img" src="/images/heart_icon.png" referrerpolicy="no-referrer" >
                  <%= tweet.likes.length %>
                </a>
              <% } %>
              <% if (tweet.bookmarks.find(el => el.user.toString() === user._id.toString())) { %>
                <a class="white-bg inline-ctr" href="/bookmarks/<%= tweet._id %>">
                  <img alt="Bookmarks" class="nav-bm-filled-img" src="/images/bookmark_icon_filled.png" referrerpolicy="no-referrer" >
                </a>
              <% } else { %>
                <a class="white-bg inline-ctr" href="/bookmarks/<%= tweet._id %>">
                  <img alt="Bookmarks" class="nav-bm-img" src="/images/bookmark_icon.png" referrerpolicy="no-referrer" >
                </a>
              <% } %>
          </li>
        </nav>
            <br>
            <br>

            <div class="white-bg flex-ctr">
              <img class="avatar" alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
              <form class="white-bg" method="POST" action="/tweets/<%= tweet._id %>/replies">
                  <textarea id="reply-text" class="white-bg" name="content"></textarea>
            </div>
                <div class="white-bg flex-ctr">
                  <input id="tweet-btn" type="submit" value="Reply">
                </div>
              </form>
              <br>
              <br>

              <% tweet.replies.forEach(function(r) { %>
                <section class="white-bg tweet-text-border">
                  <li class="tweet-hdr">
                    <img alt="avatar" class="avatar white-bg inline-ctr" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                    <div class="inline-ctr">
                      <div class="tweet-hdr-text">
                        <%= r.userName %> •
                      </div>
                      <div class="tweet-date">
                        <%= r.createdAt.toLocaleDateString() %>
                      </div>
                    </div>
                  </li>
                      <li class="white-bg post-text">
                        <%= r.content %>
                      </li>
                </section>
                <br>
                <br>
              <% }) %>
        </ul>
  <% } %>
</main>
<%- include('../partials/footer') %>