<%- include('../partials/header') %>
<main>
  <ul>
    <% if (user) { %>
      <li class="flex-ctr">
        <img alt="avatar" id="profile-avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
      </li>
      <li class="flex-ctr">
        <h1 class="white-bg"><%= user.name %></h1>
      </li>
      <li class="white-bg flex-ctr">
        <nav class="white-bg">
            <a class="prof-tweets-head" href="/users">Tweets</a>
            <a class="profile-nav" href="/users/likes">Likes</a>
        </nav>
      </li>

      <br>

      <section class="white-bg flex-ctr">
        <ul>
          <% tweets.forEach(function(t) { %>
            <% if (!t.retweets.length) { %>
              <% if (t.retweets.find(el => el.rt === true)) { %>
                <% t.retweets.forEach(function(r) { %>
                  <li>
                  <a class="white-bg inline-ctr" href="/retweets/<%= t._id %>">
                    <img alt="Retweet" class="nav-rt-img" src="/images/retweet_icon.png" referrerpolicy="no-referrer">
                  </a>
                  <div id="rt-text" class="inline-ctr"><%= r.rtUserName %> Retweeted</div>
                </li>
              <% }) %>
            <% } %>
  
      <a href="/tweets/<%= t._id %>"></a>
  
      <section class="white-bg tweet-text-border">
        <li>
          <a class="white-bg" href="/tweets/<%= t._id %>">
            <img alt="avatar" class="avatar white-bg inline-ctr" src="<%= t.userAvatar %>" referrerpolicy="no-referrer">
            <div class="inline-ctr">
              <%= t.userName %>
              <%= t.createdAt.toLocaleDateString() %>
          </a>
            <% if (user?._id.equals(t.user)) { %>
              <a class="white-bg inline-ctr" href="/tweets/<%= t._id %>/edit">
                <img alt="Edit" class="nav-reply-img" src="/images/edit_icon.png" referrerpolicy="no-referrer" >
              </a>
              <form class="white-bg inline-ctr" action="/tweets/<%= t._id %>?_method=DELETE" method="POST">
                <input type="image" class="nav-del-img" alt="Delete" src="/images/delete_icon.png">
              </form>
            <% }; %>
        </li>
        <li class="white-bg post-text">
          <%= t.content %>
        </li>
        <% } %>
      </section>
  
          <% if (!t.retweets.find(el => el.rt === true)) { %>
            <nav>
              <li class="nav-space">
                  <a class="white-bg inline-ctr" href="/tweets/<%= t._id %>">
                    <img alt="Reply" class="nav-reply-img" src="/images/reply_icon.png" referrerpolicy="no-referrer" >
                    <%= t.replies.length %>
                  </a>
                <a class="white-bg inline-ctr" href="/retweets/<%= t._id %>">
                  <img alt="Reply" class="nav-rt-img" src="/images/retweet_icon.png" referrerpolicy="no-referrer" >
                </a>
                <a class="white-bg inline-ctr" href="/likes/<%= t._id %>">
                  <img alt="Reply" class="nav-like-img" src="/images/heart_icon.png" referrerpolicy="no-referrer" >
                  <%= t.likes.length %>
                </a>
                <a class="white-bg inline-ctr" href="/bookmarks/<%= t._id %>">
                  <img alt="Reply" class="nav-bm-img" src="/images/bookmark_icon.png" referrerpolicy="no-referrer" >
                </a>
              </li>
            </nav>
          <% } %>
              <br>
              <br>
          <% }); %>
          </ul>
    <% } %>
  </main>
  <%- include('../partials/footer') %>