<%- include('../partials/header') %>
<main>
    <% if (user) { %>
        <img alt="avatar" class="profile-avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
        <h1 class="white-bg"><%= user.name %></h1>
        <nav class="white-bg">
            <a href="/users">Tweets</a>
            <a href="/users/likes">Likes</a>
        </nav>
        <br>

        <ul>
            <% tweets.forEach(function(t) { %>
                <li class="hdr"><img alt="avatar" class="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" >
                    <%= t.userName %>
                    <%= t.createdAt.toLocaleDateString() %></li>
                <li><%= t.content %></li>
                <form class="white-bg" method="POST" action="/likes/add">
                    <textarea class="hidden" name="tweetId"><%= t._id %></textarea>
                    <textarea class="hidden" name="userId"><%= user._id %></textarea>
                    <input type="submit" value="Like">
                </form>
                <br>
            <% }); %>
        </ul>
    <% } %>
</main>
<%- include('../partials/footer') %>